<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDoList-Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href=
        "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-1.10.2.js">
        </script>
        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js">
        </script>


  </head>
  <body>
<!--    <nav class="navbar navbar-expand-lg bg-body-tertiary " >-->
<nav class="navbar navbar-expand-lg bg-primary py-3" data-bs-theme="dark">
<div class="container-fluid">

      <span class="navbar-brand mb-0 h1">ToDoList</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'Home_page' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'display_tasks' %}">Tasks</a>
        </li>

          <li class="nav-item">
          <a class=" nav-link" href="{% url 'task_submissions' %}">Submissions</a>
        </li>
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Dropdown-->
<!--          </a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--            <li><hr class="dropdown-divider"></li>-->
<!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
      </ul>

    </div>
  </div>
</nav>

<div  style="margin-left:450px; margin-top:20px" >
<!--    <h2 style="margin-left:50px;color:blue">Edit ToDoList</h2>-->

    <h4 style="color:blue">Edit Task details</h4>

    <form method="post" enctype="multipart/form-data" action="{% url 'update_task' tid=tdata.id %}">
        {% csrf_token %}
  <div class="mb-3">
    <label for="formGroupExampleInput1" class="form-label">Task-Title</label>
    <input type="text" class="form-control" id="formGroupExampleInput1" style="width:500px" name="task" value="{{tdata.Task_Title}}" required>

  </div>
        <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Task-Assigned-to</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" style="width:500px" name="emp" value="{{tdata.Employee}}"  required>

  </div>
  <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width:500px" name="des" required>{{tdata.Description}}</textarea>
</div>
        <div class="mb-3">
    <label class="form-label">Due-Date</label>
<!--    <input type="text" class="form-control" id="formGroupExampleInput" style="width:500px"   value="{{tdata.Due_date}}" required>-->
    <input type="text" class="form-control" id="edt" style="width:500px" name="date"  value="{{tdata.Due_date|date:'Y-m-d'}}" required>

  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>

</div>

<footer>
    <p class="text-center bg-secondary text-light fixed-bottom my-0 py-1">
        Copyright &copy; 2024 | All rights reserved
    </p>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>
            $(function () {
                $("#edt").datepicker({
                    dateFormat: 'yy-mm-dd',
                    minDate: 'today'
                });
            });
        </script>



  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'success' %}
            <script>
                swal('{{i}}','','success')
            </script>
        {% elif i.tags == 'warning' %}
            <script>
                swal('{{i}}','','warning')
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}','','error')
            </script>
        {% else %}
            <script>
                swal('{{i}}','','information')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

  </body>
</html>