<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDoList-Tasks</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
<!--    <nav class="navbar navbar-expand-lg bg-body-tertiary " >-->
<nav class="navbar navbar-expand-lg bg-primary py-3" data-bs-theme="dark">
<div class="container-fluid">

      <span class="navbar-brand mb-0 h1">ToDoList</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'Home_page' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class=" nav-link" href="{% url 'display_tasks' %}">Tasks</a>
        </li>
          <li class="nav-item">
          <a class=" nav-link active" href="{% url 'task_submissions' %}">Submissions</a>
        </li>
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Dropdown-->
<!--          </a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--            <li><hr class="dropdown-divider"></li>-->
<!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
      </ul>

    </div>
  </div>
</nav>

<div class="container"  style=" margin-top:10px;height:1000px"  >
    <h2 class="text-center py-3" style="color:blue">Task-Submissions</h2>
    <br>

    <table class="table table-hover table-success" style="border:solid 1px gray;margin-top:-20px">

  <thead>
    <tr>
      <th scope="col">Sl.No.</th>
      <th scope="col">Task-Title</th>
      <th scope="col">Submitted By</th>
      <th scope="col">Submitted-Data</th>
      <th scope="col">View</th>
      <th scope="col" style="text-align:center">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for s in sub %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{s.Task}}</td>
      <td>{{s.Employee}}</td>
      <td>{{s.Entry}}</td>
      <td><a href="{% url 'task_verification' title=s.Task %}"><button class="btn btn-outline-primary btn-sm" style="border:none"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
</svg></button></a></td>

        <td style="text-align:center"><a href="{% url 'delete_submissions' title=s.Task %}"><button class="btn btn-outline-primary" style="border:none"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
</svg></button></a></td>

    </tr>
  {% endfor %}

  </tbody>

</table>

</div>

<footer>
    <p class="text-center bg-secondary text-light fixed-bottom my-0 py-3">
        Copyright &copy; 2024 | All rights reserved
    </p>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'success' %}
            <script>
                swal('{{i}}','','success')
            </script>
        {% elif i.tags == 'warning' %}
            <script>
                swal('{{i}}','','warning')
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}','','error')
            </script>
        {% else %}
            <script>
                swal('{{i}}','','information')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

  </body>
</html>